/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/mouse.h>

&mt {
    tapping-term-ms = <400>;
};

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp TAB         &kp Q     &kp W       &kp E     &kp R    &kp T                &kp Y     &kp U     &kp I      &kp O    &kp P     &kp BSPC
        &mt LCTRL ESC   &kp A     &kp S       &kp D     &kp F    &kp G                &kp H     &kp J     &kp K      &kp L    &kp SEMI  &kp SQT
        &kp LSHFT       &kp Z     &kp X       &kp C     &kp V    &kp B      &mkp MCLK &kp N     &kp M     &kp COMMA  &kp DOT  &kp FSLH  &mt RSHFT RET
                                  &kp LALT    &kp LGUI  &mo 1    &mkp LCLK            &kp SPACE &mo 2     &mo 3      &mkp LCLK
      >;
      sensor-bindings = <&inc_dec_kp UP DOWN>;
    };

    lower_layer {
      bindings = <
        &kp GRAVE    &kp N1    &kp N2  &kp N3   &kp N4    &kp N5                        &kp N6     &kp N7       &kp N8      &kp N9      &kp N0    &kp DEL
        &trans       &kp F1    &kp F2  &kp F3   &mkp RCLK &kp F5                        &kp F6     &kp MINUS    &kp EQUAL   &kp LBKT    &kp RBKT  &kp BSLH
        &trans       &kp F7    &kp F8  &kp F9   &mkp MCLK &kp F11   &kp C_PLAY_PAUSE    &kp F12    &trans       &trans      &trans      &trans    &trans
                               &trans  &trans   &trans    &trans                        &trans     &trans       &trans      &trans
      >;
      sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
    };

    raise_layer {
      bindings = <
        &kp TILDE   &kp EXCL    &kp AT      &kp POUND     &kp DOLLAR  &kp PERCENT               &kp CARET     &kp AMPS     &kp STAR    &kp LPAR    &kp RPAR  &kp DEL
        &trans      &kp F1      &kp F2      &kp F3        &kp F4      &kp F5                    &kp F6        &kp UNDER    &kp PLUS    &kp LBRC    &kp RBRC  &kp PIPE
        &trans      &kp F7      &kp F8      &kp F9        &kp F10     &kp F11        &kp C_MUTE &kp F12       &trans       &trans      &trans      &trans    &trans
                                &trans      &trans        &trans      &trans                    &trans        &trans       &trans      &trans
      >;
      sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
    };

    adjust_layer {
      bindings = <
        &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3     &bt BT_SEL 4    &bt BT_CLR                &none         &kp PAGE_UP      &kp HOME      &kp PAGE_DOWN    &kp PAUSE_BREAK   &kp DEL
        &trans        &none           &kp C_PREVIOUS  &kp C_PLAY_PAUSE &kp C_NEXT      &none                     &kp LEFT      &kp DOWN         &kp UP        &kp RIGHT        &none             &none
        &trans        &none           &none           &kp C_MUTE       &none           &none       &bootloader   &trans        &trans           &kp END       &kp END          &none             &trans
                                      &trans          &trans           &trans          &trans                    &trans        &trans           &trans        &trans
      >;
      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
    };

  };
};
